html{
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
    
}

@media only screen and (max-width: 400px) {
  }

body{
    margin: 30px 50px;
    background: #c0dfd9;
}
.logo{
  float:left;
  width:67%;
  display:block;
  padding-bottom: 10px;
}
.videowrapper {
  display:block;
  width:33%;
  float:left;
}



.btn {
  background: burlywood;
  /* color: var(--light); */
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
  box-shadow: 0px 1px 5px black;
}

img{
    max-width: 100%;
}
.main-nav ul {
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    clear: both;
    
  }
.main-nav a {
    background: #FFF0CE;
    display: block;
    
    padding: 10px;
    text-align: center;
    /* color: #FFF0CE; */
    font-size: 1.1rem;
    box-shadow: 0px 1px 5px black;
}
.wrapper {
  display: grid;
  grid-gap: 20px;
}
/* TOP GRID */

.band-pic{
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
      'band band top-links'
      'band band top-links';
  }
.band{
    grid-area: band;
    min-height: 500px;
    background: url(../img/band1.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: 0px 1px 5px black;
      }
.band h1{
  font-size: 50px;
  color: #FFF0CE;
  margin-left: 45%;
  margin-bottom: 0;
}
.band p{
  font-size: 30px;
  color: #FFF0CE;
  margin-top: 0;
}
.top-links{
    grid-area: top-links;
    display: grid;
    align-items: center;
}
.top-links li{
    list-style: none;
    padding: 10px;
    background: #FFF0CE;
    box-shadow: 0px 1px 5px black;

}
  .boxes {
    
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  
  .box {
    background: #FFF0CE;
      margin-top: 50px;
    /* background: burlywood; */
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: 0px 1px 5px black;
    /* font-size: 28px; */
    
  }
 
  footer {
    margin-top: 2rem;
    text-align: center;
    padding: 1rem;
  }
 
.social li{
  display: inline;
  list-style: none;
  padding: 10px;
}
