html{
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
    
}
body{
    margin: 30px 50px;
    background: #c0dfd9;
}
header{
  text-align: center;
}
.btn {
  background: burlywood;
  /* color: var(--light); */
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
  box-shadow: 0px 1px 5px black;
}

img{
    max-width: 100%;
}
.main-nav ul {
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
  }
.main-nav a {
    background: #FFF0CE;
    display: block;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    /* color: #FFF0CE; */
    font-size: 1.1rem;
    box-shadow: 0px 1px 5px black;
}

/* TOP GRID */

.band-pic{
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
      'band band top-links'
      'band band top-links';
  }
.band{
    grid-area: band;
    min-height: 400px;
    background: url(img/band-pic.jpeg);
    background-size: cover;
    background-position: center;
    
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: 0px 1px 5px black;
      }

.top-links{
    grid-area: top-links;
    display: grid;
    align-items: center;
}
.top-links li{
    list-style: none;
    padding: 10px;
    background: #FFF0CE;
    box-shadow: 0px 1px 5px black;

}
  .boxes {
    
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  
  .box {
    background: #FFF0CE;
      margin-top: 50px;
    /* background: burlywood; */
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: 0px 1px 5px black;
    /* font-size: 28px; */
  }
  footer {
    margin-top: 2rem;
    text-align: center;
    padding: 1rem;
  }
 