.tour-list{
    display: grid;
    grid-gap: 10px;
    padding: 20px;
    text-align: center;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    
}
.tour-list li {
    display: inline;
    
}

.tour-nav{
    font-weight: bolder;
    font-size: 45px;

}
.tour-venue{
    font-weight: bolder;
    font-size: 20px;
}